<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.imokhles.monolith.tweak-template</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds Monolith Tweak. you have to change the control file info from the tweak path</string>
	<key>SortOrder</key>
	<integer>2</integer>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>cocoaLibraryType</string>
			<key>Name</key>
			<string>Type</string>
			<key>Description</key>
			<string>Should the framework be a static or dynamic library?</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Dynamic</string>
			<key>Units</key>
			<dict>
				<key>Static</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>ProductType</key>
								<string>com.apple.product-type.framework.static</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>Dynamic</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>ProductType</key>
								<string>com.apple.product-type.framework.shallow</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>productBuildScript</string>
			<key>Name</key>
			<string>Integrate Build Script ?</string>
			<key>Description</key>
			<string>Would you like to integrate install/build script to your project ?</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>NO</string>
			<key>Units</key>
			<dict>
				<key>NO</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict/>
						</array>
					</dict>
				</array>
				<key>YES</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>build.rb</key>
							<dict>
								<key>Path</key>
								<string>build.rb</string>
								<key>Group</key>
								<array>
									<string>Hooks</string>
								</array>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>build.rb</string>
						</array>
						<key>Targets</key>
						<array>
							<dict>
								<key>BuildPhases</key>
								<array>
									<dict>
										<key>Class</key>
										<string>ShellScript</string>
										<key>ShellPath</key>
										<string>/usr/bin/env sh</string>
										<key>ShellScript</key>
										<string>ruby $PROJECT_DIR/___PACKAGENAMEASIDENTIFIER___/build.rb</string>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>DEFINES_MODULE</key>
				<string>YES</string>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>YES</string>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>CODE_SIGNING_REQUIRED</key>
				<string>NO</string>
				<key>CURRENT_PROJECT_VERSION</key>
				<string>1</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string></string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>8.0</string>
				<key>SDKROOT</key>
				<string>iphoneos</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>MTL_ENABLE_DEBUG_INFO</key>
					<string>YES</string>
					<key>DYLIB_COMPATIBILITY_VERSION</key>
					<string>1</string>
					<key>DYLIB_CURRENT_VERSION</key>
					<string>1</string>
					<key>DYLIB_INSTALL_NAME_BASE</key>
					<string>@rpath</string>
					<key>INSTALL_PATH</key>
					<string>$(LOCAL_LIBRARY_DIR)/Frameworks</string>
					<key>LD_RUNPATH_SEARCH_PATHS</key>
					<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
					<key>PRODUCT_NAME</key>
					<string>$(TARGET_NAME)</string>
					<key>SKIP_INSTALL</key>
					<string>YES</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>MTL_ENABLE_DEBUG_INFO</key>
					<string>NO</string>
					<key>DYLIB_COMPATIBILITY_VERSION</key>
					<string>1</string>
					<key>DYLIB_CURRENT_VERSION</key>
					<string>1</string>
					<key>DYLIB_INSTALL_NAME_BASE</key>
					<string>@rpath</string>
					<key>INSTALL_PATH</key>
					<string>$(LOCAL_LIBRARY_DIR)/Frameworks</string>
					<key>LD_RUNPATH_SEARCH_PATHS</key>
					<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
					<key>PRODUCT_NAME</key>
					<string>$(TARGET_NAME)</string>
					<key>SKIP_INSTALL</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Hooks/___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Hooks</string>
			</array>
			<key>Path</key>
			<string>Hooks/___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>Hooks/___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Hooks</string>
			</array>
			<key>Path</key>
			<string>Hooks/___PACKAGENAMEASIDENTIFIER___.m</string>
		</dict>
		<key>Tweak.h</key>
		<dict>
			<key>Path</key>
			<string>Tweak.h</string>
		</dict>
		<key>Monolith/Monolith.framework</key>
		<dict>
			<key>Path</key>
			<string>Monolith/Monolith.framework</string>
			<key>Group</key>
			<array>
				<string>Hooks</string>
			</array>
		</dict>
		<key>DEBIAN/control</key>
		<dict>
			<key>Path</key>
			<string>DEBIAN/control</string>
			<key>Group</key>
			<string>DEBIAN</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Hooks/___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>Hooks/___PACKAGENAMEASIDENTIFIER___.m</string>
		<string>Tweak.h</string>
		<string>Monolith/Monolith.framework</string>
		<string>DEBIAN/control</string>
	</array>
</dict>
</plist>
